In [10]:
import pandas as pd # Manejo y análisis de estructuras de datos
import numpy as np # Cálculo numérico y el análisis de datos
import seaborn as sns # Creación gráficos estadísticos
import matplotlib.pyplot as plt # Creación de gráficos en dos dimensiones
import plotly.graph_objs as go # Creación de gráficos en tres dimensiones
import plotly.express as px # Creación de gráficos en tres dimensiones


# librerías de para implementar modelo Kmeans
from sklearn.cluster import AgglomerativeClustering #algoritmos de agrupamiento o clustering, dividir datos en grupos o clusters basados en su similitud.
from sklearn.preprocessing import StandardScaler #escalar o normalizar los datos 
from scipy.cluster.hierarchy import linkage, dendrogram #herramientas para realizar agrupamiento jerárquico y visualización de dendrogramas.
#dendrogram:  genera un gráfico de árbol 

# librerías de para evaluar el modelo
from sklearn.metrics import silhouette_score, calinski_harabasz_score, davies_bouldin_score
from datetime import datetime

#Librería para evitar la advertencia de que el modelo tiene una pérdida de memoria en Windows 
import warnings
warnings.filterwarnings('ignore')

In [11]:
# Cargar el conjunto de datos en la variable data
data = pd.read_csv('Mall_Customers.csv', sep=',')

In [12]:
data.head(20)

   CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100)
0                                     1,Male,19,15,39
1                                     2,Male,21,15,81
2                                    3,Female,20,16,6
3                                   4,Female,23,16,77
4                                   5,Female,31,17,40
5                                   6,Female,22,17,76
6                                    7,Female,35,18,6
7                                   8,Female,23,18,94
8                                      9,Male,64,19,3
9                                  10,Female,30,19,72
10                                   11,Male,67,19,14
11                                 12,Female,35,19,99
12                                 13,Female,58,20,15
13                                 14,Female,24,20,77
14                                   15,Male,37,20,13
15                                   16,Male,22,20,79
16                                 17,Female,35,21,35
17                                   18,Male,20,21,66
18                                   19,Male,52,23,29
19                                 20,Female,35,23,98